<html>
<head>
    <title>delete operations</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
    form{
        margin-left: 300px;
        margin-right: 400px;
    }
     a{
        color: slateblue;
        font-size: 20px;
        margin-left: 350px;
    }
    body{
        background-color: aqua;
    }
    h2{
        color: saddlebrown;
    }
</style>
<body>
<center><h2>Delete your details...</h2></center>
<form method="post">
    {% csrf_token %}
    {{ dform }}<br>
    <center>
        <input type="submit" value="delete" class="btn btn-success">
        <input type="reset" value="clear" class="btn btn-danger">
    </center>
</form>
<a href="/#/">go to home</a>
</body>
</html>